{% set foam_class = 'dictionary' %}
{% set foam_object = 'fvSolution' %}
{% include 'header.j2' %}

solvers
{
    "alpha.water.*"
    {
        nAlphaCorr      2;
        nAlphaSubCycles 1;
        nCorrectors     2;
        nSubCycles      1;
        
        MULESCorr       yes;
        nLimiterIter    10;
        alphaApplyPrevCorr  yes;

        cAlpha          1;

        solver          smoothSolver;
        smoother        symGaussSeidel;
        tolerance       1e-8;
        relTol          0;
        minIter         1;
    }

    "cellDisplacement.*"
    {
        solver          PCG;
        preconditioner  DIC;
        tolerance       1e-06;
        relTol          0;
        maxIter         100;
    }

    // Required for wallDist Poisson method
    yPsi
    {
        solver          PCG;
        preconditioner  DIC;
        tolerance       1e-05;
        relTol          0;
    }

    "pcorr.*"
    {
        solver          PCG;
        preconditioner
        {
            preconditioner  GAMG;
            smoother        GaussSeidel;
            tolerance       1e-5;
            relTol          0;
        };
        tolerance       1e-5;
        relTol          0;
    };

    p_rgh
    {
        solver          GAMG;
        smoother        DIC;
        tolerance       1e-7;
        relTol          0.01;
    };

    p_rghFinal
    {
        $p_rgh;
        relTol          0;
    }

    "(U|k|omega).*"
    {
        solver          smoothSolver;
        smoother        symGaussSeidel;
        nSweeps         1;
        tolerance       1e-7;
        relTol          0.1;
        minIter         1;
    };
}

PIMPLE
{
    momentumPredictor   no;

    nOuterCorrectors    1;
    nCorrectors         2;
    nNonOrthogonalCorrectors 0;

    maxCo               10;
    maxAlphaCo          1;

    rDeltaTSmoothingCoeff 0.05;
    rDeltaTDampingCoeff 0.5;
    nAlphaSpreadIter    0;
    nAlphaSweepIter     0;
    maxDeltaT           1;

    correctPhi          yes;
    moveMeshOuterCorrectors yes;
    transportCorrectionFinal yes;
}

relaxationFactors
{
    equations
    {
        ".*" 1;
    }
}

cache
{
    grad(U);
}

// ************************************************************************* //
