{% set foam_class = 'dictionary' %}
{% set foam_object = 'snappyHexMeshDict' %}
{% include 'header.j2' %}

castellatedMesh true;
snap            true;
addLayers       false;

geometry
{
    "{{ case_name }}.stl"
    {
        type triSurfaceMesh;
        file "{{ case_name }}.stl";
        name hull;
    }
}

castellatedMeshControls
{
    maxLocalCells 100000;
    maxGlobalCells 2000000;
    minRefinementCells 10;
    maxLoadUnbalance 0.10;
    nCellsBetweenLevels 3;

    features
    (
        {
            file "{{ case_name }}.eMesh";
            level 6;
        }
    );

    refinementSurfaces
    {
        hull
        {
            level (5 5);
        }
    }

    resolveFeatureAngle 30;

    refinementRegions
    {
        hull
        {
            mode distance;
            levels ((1.0 4) (2.0 3));
        }
    }

    locationInMesh (3.0 -3.0 0.5); // Inside the domain (y<0), outside the hull
    allowFreeStandingZoneFaces true;
}

snapControls
{
    nSmoothPatch 3;
    tolerance 2.0;
    nSolveIter 30;
    nRelaxIter 5;
    nSmoothSurfaceNormals 1;
    nSmoothNormals 3;
    nSmoothThickness 10;
    maxFaceThicknessRatio 0.5;
    maxThicknessToMedialRatio 0.3;
    minMedialAxisAngle 90;
    nBufferCellsNoExtrude 0;
    nLayerIter 50;
    nRelaxedIter 20;
}

meshQualityControls
{
    #include "meshQualityDict"
}

debug 0;
mergeTolerance 1E-6;

// ************************************************************************* //
